export(build_package)
export(build_topics)
export(package_info)
export(parse_rd)
export(render_template)
export(sd_icon)
export(sd_item)
export(sd_section)
export(to_html)
import(stringr)
importFrom(bibtex,read.bib)
importFrom(devtools,as.package)
importFrom(devtools,load_all)
importFrom(digest,digest)
importFrom(evaluate,evaluate)
importFrom(evaluate,is.source)
importFrom(grid,grid.draw)
importFrom(highlight,formatter_html)
importFrom(highlight,highlight)
importFrom(highlight,renderer_html)
importFrom(markdown,markdownToHTML)
importFrom(parser,parser)
importFrom(rjson,fromJSON)
importFrom(testthat,colourise)
importFrom(tools,parse_Rd)
importFrom(whisker,whisker.render)
S3method(as.list,Rd)
S3method(print,COMMENT)
S3method(print,package_info)
S3method(print,RCODE)
S3method(print,Rd)
S3method(print,TEXT)
S3method(print,VERB)
S3method(replay_html,character)
S3method(replay_html,error)
S3method(replay_html,list)
S3method(replay_html,message)
S3method(replay_html,recordedplot)
S3method(replay_html,source)
S3method(replay_html,value)
S3method(replay_html,warning)
S3method(to_html,"if")
S3method(to_html,"NULL")
S3method(to_html,alias)
S3method(to_html,arguments)
S3method(to_html,author)
S3method(to_html,character)
S3method(to_html,COMMENT)
S3method(to_html,concept)
S3method(to_html,cr)
S3method(to_html,deqn)
S3method(to_html,description)
S3method(to_html,details)
S3method(to_html,dontrun)
S3method(to_html,dontshow)
S3method(to_html,email)
S3method(to_html,enc)
S3method(to_html,enumerate)
S3method(to_html,eqn)
S3method(to_html,examples)
S3method(to_html,format)
S3method(to_html,href)
S3method(to_html,ifelse)
S3method(to_html,item)
S3method(to_html,itemize)
S3method(to_html,keyword)
S3method(to_html,link)
S3method(to_html,list)
S3method(to_html,LIST)
S3method(to_html,method)
S3method(to_html,name)
S3method(to_html,note)
S3method(to_html,RCODE)
S3method(to_html,Rd_doc)
S3method(to_html,Rd)
S3method(to_html,references)
S3method(to_html,S3method)
S3method(to_html,S4method)
S3method(to_html,section)
S3method(to_html,seealso)
S3method(to_html,Sexpr)
S3method(to_html,special)
S3method(to_html,tab)
S3method(to_html,tabular)
S3method(to_html,testonly)
S3method(to_html,TEXT)
S3method(to_html,title)
S3method(to_html,url)
S3method(to_html,usage)
S3method(to_html,value)
S3method(to_html,VERB)
