<div class="row">
  <div class="col-md-9 contents">
    {{#logo}}<img src="{{logo.src}}" class="pkg-logo" alt="" >{{/logo}}
    <div class="page-header pb-2 mt-4 mb-2 border-bottom toc-ignore">
    <h1>{{{title}}}</h1>
    {{#source}}<small class="dont-index">{{{.}}}</small>{{/source}}
    <div class="d-none name"><code>{{filename}}</code></div>
    </div>

    <div id="ref-description" class="ref-description section level2">
    {{#description}}
    {{#contents}}
    {{{.}}}
    {{/contents}}
    {{/description}}
    </div>

    {{#usage}}
    <div id="ref-usage" class="ref-usage section level2 sourceCode">
    {{{.}}}
    </div>
    {{/usage}}

    {{#has_args}}
    <div id="ref-arguments">
    <h2>Arguments</h2>
    <dl class="row">
    {{#arguments}}
    <dt class="col-sm-3 section level2" id="pkg-arg-{{{name}}}">{{{name}}}</dt>
      <dd class="col-sm-9" id="ref-arguments desc">{{{description}}}</dd>
    {{/arguments}}
    </dl>
    </div>
    {{/has_args}}

    {{#sections}}
    <div class="ref-section section level2" id="section-{{slug}}">
    <h2>{{{title}}}</h2>
    {{#contents}}
    {{{.}}}
    {{/contents}}
    </div>
    {{/sections}}

    {{#examples}}
    <div id="ref-examples">
    <h2>Examples</h2>
    <div class="ref-examples sourceCode">{{{.}}}</div>
    </div>
    {{/examples}}
  </div>
  <div class="col-md-3" id="pkgdown-sidebar">
    <nav id="toc">
      <h2 data-toc-skip>Contents</h2>
    </nav>
  </div>
</div>
