// This Sass file wants to be compiled with Bootstrap Sass headers
// All custom properties are prefixed with `rs-` (abbr: Rmd style) to avoid conflicts

// navbar
$rs-nav-link-active-color: $component-active-color !default;
$rs-nav-link-active-bg: $component-active-bg !default;
$rs-nav-link-active-border-radius: $border-radius !default;

// toc
$rs-toc-border-radius: $border-radius !default;
$rs-toc-border-width: 0 !default;
$rs-toc-border-color: $border-color !default;
$rs-toc-active-bg: $list-group-active-bg !default;
$rs-toc-active-color: $list-group-active-color !default;

// copy-paste button for code blocks
$rs-copy-btn-bg: $secondary !default;
$rs-copy-btn-color: color-contrast($rs-copy-btn-bg) !default;
$rs-copy-btn-active-bg: darken($rs-copy-btn-bg, 15%) !default;
$rs-copy-btn-active-color: color-contrast($rs-copy-btn-active-bg) !default;

// search
$rs-cursor-algolia: mix($primary, $body-bg, 10%) !default;

// footer
$rs-footer-color: $gray-800 !default;
$rs-footer-border-color: $border-color !default;
$rs-footer-border-width: $border-width !default;
