// This Sass file wants to be compiled with Bootstrap Sass headers
// All custom properties are prefixed with `rs-` (abbr: Rmd style) to avoid conflicts

// toc
$rs-toc-border-radius: $border-radius !default;
$rs-toc-border-width: 0 !default;
$rs-toc-border-color: $border-color !default;
$rs-toc-active-bg: mix($body-color, $body-bg, 10%) !default;
$rs-toc-active-color: color-contrast($rs-toc-active-bg) !default;

// search
$rs-cursor-algolia: mix($primary, $body-bg, 10%) !default;

// footer
$rs-footer-color: mix($body-color, $body-bg, 90%) !default;
$rs-footer-border-color: $border-color !default;
$rs-footer-border-width: $border-width !default;
