pre {background-color: #fefefe;}
pre code         /* Normal         */ {color:#545454}
pre code span.al /* Alert          */ {color:#7928a1}
pre code span.an /* Annotation     */ {color:#696969}
pre code span.at /* Attribute      */ {color:#aa5d00}
pre code span.bn /* BaseN          */ {color:#7928a1}
pre code span.bu /* BuiltIn        */ {}
pre code span.cf /* ControlFlow    */ {color:#d91e18}
pre code span.ch /* Char           */ {color:#008000}
pre code span.cn /* Constant       */ {color:#d91e18}
pre code span.co /* Comment        */ {color:#696969}
pre code span.cv /* CommentVar     */ {color:#696969; font-style: italic}
pre code span.do /* Documentation  */ {color:#696969; font-style: italic}
pre code span.dt /* DataType       */ {color:#7928a1}
pre code span.dv /* DecVal         */ {color:#7928a1}
pre code span.er /* Error          */ {color:#7928a1}
pre code span.ex /* Extension      */ {}
pre code span.fl /* Float          */ {color:#aa5d00}
pre code span.fu /* Function       */ {color:#06287e}
pre code span.im /* Import         */ {}
pre code span.in /* Information    */ {color:#696969}
pre code span.kw /* Keyword        */ {color:#d91e18}
pre code span.op /* Operator       */ {color:#007faa}
pre code span.ot /* Other          */ {color:#d91e18}
pre code span.pp /* Preprocessor   */ {color:#7928a1}
pre code span.sc /* SpecialChar    */ {color:#007faa}
pre code span.ss /* SpecialString  */ {color:#008000}
pre code span.st /* String         */ {color:#008000}
pre code span.va /* Variable       */ {color:#aa5d00}
pre code span.vs /* VerbatimString */ {color:#008000}
pre code span.wa /* Warning        */ {color:#696969; font-style: italic}
