pre {background-color: #f1f3f5;}
pre code         /* Normal         */ {color:#003B4F}
pre code span.al /* Alert          */ {color:#AD0000}
pre code span.an /* Annotation     */ {color:#5E5E5E}
pre code span.at /* Attribute      */ {color:#657422}
pre code span.bn /* BaseN          */ {color:#AD0000}
pre code span.bu /* BuiltIn        */ {}
pre code span.cf /* ControlFlow    */ {color:#003B4F}
pre code span.ch /* Char           */ {color:#20794D}
pre code span.cn /* Constant       */ {color:#8f5902}
pre code span.co /* Comment        */ {color:#5E5E5E}
pre code span.cv /* CommentVar     */ {color:#5E5E5E; font-style: italic}
pre code span.do /* Documentation  */ {color:#5E5E5E; font-style: italic}
pre code span.dt /* DataType       */ {color:#AD0000}
pre code span.dv /* DecVal         */ {color:#AD0000}
pre code span.er /* Error          */ {color:#AD0000}
pre code span.ex /* Extension      */ {}
pre code span.fl /* Float          */ {color:#AD0000}
pre code span.fu /* Function       */ {color:#4758AB}
pre code span.im /* Import         */ {color:#00769E}
pre code span.in /* Information    */ {color:#5E5E5E}
pre code span.kw /* Keyword        */ {color:#003B4F}
pre code span.op /* Operator       */ {color:#5E5E5E}
pre code span.ot /* Other          */ {color:#003B4F}
pre code span.pp /* Preprocessor   */ {color:#AD0000}
pre code span.sc /* SpecialChar    */ {color:#5E5E5E}
pre code span.ss /* SpecialString  */ {color:#20794D}
pre code span.st /* String         */ {color:#20794D}
pre code span.va /* Variable       */ {color:#111111}
pre code span.vs /* VerbatimString */ {color:#20794D}
pre code span.wa /* Warning        */ {color:#5E5E5E; font-style: italic}
