pre {background-color: #232629; color: #cfcfc2;}
pre code         /* Normal         */ {color:#cfcfc2}
pre code span.al /* Alert          */ {color:#95da4c; background-color:#4d1f24; font-weight: bold}
pre code span.an /* Annotation     */ {color:#3f8058}
pre code span.at /* Attribute      */ {color:#2980b9}
pre code span.bn /* BaseN          */ {color:#f67400}
pre code span.bu /* BuiltIn        */ {color:#7f8c8d}
pre code span.cf /* ControlFlow    */ {color:#fdbc4b; font-weight: bold}
pre code span.ch /* Char           */ {color:#3daee9}
pre code span.cn /* Constant       */ {color:#27aeae; font-weight: bold}
pre code span.co /* Comment        */ {color:#7a7c7d}
pre code span.cv /* CommentVar     */ {color:#7f8c8d}
pre code span.do /* Documentation  */ {color:#a43340}
pre code span.dt /* DataType       */ {color:#2980b9}
pre code span.dv /* DecVal         */ {color:#f67400}
pre code span.er /* Error          */ {color:#da4453; text-decoration: underline}
pre code span.ex /* Extension      */ {color:#0099ff; font-weight: bold}
pre code span.fl /* Float          */ {color:#f67400}
pre code span.fu /* Function       */ {color:#8e44ad}
pre code span.im /* Import         */ {color:#27ae60}
pre code span.in /* Information    */ {color:#c45b00}
pre code span.kw /* Keyword        */ {color:#cfcfc2; font-weight: bold}
pre code span.op /* Operator       */ {color:#cfcfc2}
pre code span.ot /* Other          */ {color:#27ae60}
pre code span.pp /* Preprocessor   */ {color:#27ae60}
pre code span.re /* RegionMarker   */ {color:#2980b9; background-color:#153042}
pre code span.sc /* SpecialChar    */ {color:#3daee9}
pre code span.ss /* SpecialString  */ {color:#da4453}
pre code span.st /* String         */ {color:#f44f4f}
pre code span.va /* Variable       */ {color:#27aeae}
pre code span.vs /* VerbatimString */ {color:#da4453}
pre code span.wa /* Warning        */ {color:#da4453}
