pre {background-color: #282a36;}
pre code         /* Normal         */ {color:#f8f8f2}
pre code span.al /* Alert          */ {color:#ff5555; font-weight: bold}
pre code span.an /* Annotation     */ {color:#ff79c6}
pre code span.at /* Attribute      */ {color:#ff79c6}
pre code span.bn /* BaseN          */ {color:#bd93f9}
pre code span.bu /* BuiltIn        */ {color:#8be9fd}
pre code span.cf /* ControlFlow    */ {color:#ff79c6}
pre code span.ch /* Char           */ {color:#f1fa8c}
pre code span.cn /* Constant       */ {color:#bd93f9; font-weight: bold}
pre code span.co /* Comment        */ {color:#6272a4}
pre code span.cv /* CommentVar     */ {color:#8be9fd}
pre code span.do /* Documentation  */ {color:#ffb86c}
pre code span.dt /* DataType       */ {color:#8be9fd; font-style: italic}
pre code span.dv /* DecVal         */ {color:#bd93f9}
pre code span.er /* Error          */ {color:#ff5555; text-decoration: underline}
pre code span.ex /* Extension      */ {color:#8be9fd}
pre code span.fl /* Float          */ {color:#bd93f9}
pre code span.fu /* Function       */ {color:#50fa7b}
pre code span.im /* Import         */ {color:#ff79c6}
pre code span.in /* Information    */ {color:#f1fa8c}
pre code span.kw /* Keyword        */ {color:#ff79c6}
pre code span.op /* Operator       */ {color:#f8f8f2}
pre code span.ot /* Others         */ {color:#50fa7b}
pre code span.pp /* Preprocessor   */ {color:#ff79c6}
pre code span.re /* RegionMarker   */ {color:#8be9fd}
pre code span.sc /* SpecialChar    */ {color:#ff79c6}
pre code span.ss /* SpecialString  */ {color:#f1fa8c}
pre code span.st /* String         */ {color:#f1fa8c}
pre code span.va /* Variable       */ {color:#8be9fd}
pre code span.vs /* VerbatimString */ {color:#f1fa8c}
pre code span.wa /* Warning        */ {color:#ff5555}
