pre {background-color: #2a211c; color: #bdae9d;}
pre code span.al /* Alert          */ {color:#ffff00}
pre code span.an /* Annotation     */ {color:#0066ff; font-weight: bold; font-style: italic}
pre code span.at /* Attribute      */ {}
pre code span.bn /* BaseN          */ {color:#44aa43}
pre code span.bu /* BuiltIn        */ {}
pre code span.cf /* ControlFlow    */ {color:#43a8ed; font-weight: bold}
pre code span.ch /* Char           */ {color:#049b0a}
pre code span.cn /* Constant       */ {}
pre code span.co /* Comment        */ {color:#0066ff; font-weight: bold; font-style: italic}
pre code span.do /* Documentation  */ {color:#0066ff; font-style: italic}
pre code span.dt /* DataType       */ {text-decoration: underline}
pre code span.dv /* DecVal         */ {color:#44aa43}
pre code span.er /* Error          */ {color:#ffff00; font-weight: bold}
pre code span.ex /* Extension      */ {}
pre code span.fl /* Float          */ {color:#44aa43}
pre code span.fu /* Function       */ {color:#ff9358; font-weight: bold}
pre code span.im /* Import         */ {}
pre code span.in /* Information    */ {color:#0066ff; font-weight: bold; font-style: italic}
pre code span.kw /* Keyword        */ {color:#43a8ed; font-weight: bold}
pre code span.op /* Operator       */ {}
pre code span.pp /* Preprocessor   */ {font-weight: bold}
pre code span.sc /* SpecialChar    */ {color:#049b0a}
pre code span.ss /* SpecialString  */ {color:#049b0a}
pre code span.st /* String         */ {color:#049b0a}
pre code span.va /* Variable       */ {}
pre code span.vs /* VerbatimString */ {color:#049b0a}
pre code span.wa /* Warning        */ {color:#ffff00; font-weight: bold}
