pre {background-color: #24292e;}
pre code         /* Normal         */ {color:#e1e4e8}
pre code span.al /* Alert          */ {color:#ff5555; font-weight: bold}
pre code span.an /* Annotation     */ {color:#6a737d}
pre code span.at /* Attribute      */ {color:#f97583}
pre code span.bn /* BaseN          */ {color:#79b8ff}
pre code span.bu /* BuiltIn        */ {color:#f97583}
pre code span.cf /* ControlFlow    */ {color:#f97583}
pre code span.ch /* Char           */ {color:#9ecbff}
pre code span.cn /* Constant       */ {color:#79b8ff}
pre code span.co /* Comment        */ {color:#6a737d}
pre code span.cv /* CommentVar     */ {color:#6a737d}
pre code span.do /* Documentation  */ {color:#6a737d}
pre code span.dt /* DataType       */ {color:#f97583}
pre code span.dv /* DecVal         */ {color:#79b8ff}
pre code span.er /* Error          */ {color:#ff5555; text-decoration: underline}
pre code span.ex /* Extension      */ {color:#f97583; font-weight: bold}
pre code span.fl /* Float          */ {color:#79b8ff}
pre code span.fu /* Function       */ {color:#b392f0}
pre code span.im /* Import         */ {color:#9ecbff}
pre code span.in /* Information    */ {color:#6a737d}
pre code span.kw /* Keyword        */ {color:#f97583}
pre code span.op /* Operator       */ {color:#e1e4e8}
pre code span.ot /* Others         */ {color:#b392f0}
pre code span.pp /* Preprocessor   */ {color:#f97583}
pre code span.re /* RegionMarker   */ {color:#6a737d}
pre code span.sc /* SpecialChar    */ {color:#79b8ff}
pre code span.ss /* SpecialString  */ {color:#9ecbff}
pre code span.st /* String         */ {color:#9ecbff}
pre code span.va /* Variable       */ {color:#ffab70}
pre code span.vs /* VerbatimString */ {color:#9ecbff}
pre code span.wa /* Warning        */ {color:#ff5555}
