pre {background-color: #ffffff; color: #000000;}
pre code         /* Normal         */ {color:#000000}
pre code span.al /* Alert          */ {color:#000000}
pre code span.an /* Annotation     */ {color:#000000; font-style: italic}
pre code span.at /* Attribute      */ {color:#000000}
pre code span.bn /* BaseN          */ {color:#000000}
pre code span.bu /* BuiltIn        */ {color:#000000}
pre code span.cf /* ControlFlow    */ {color:#000000}
pre code span.ch /* Char           */ {color:#000000}
pre code span.cn /* Constant       */ {color:#000000}
pre code span.co /* Comment        */ {color:#000000; font-style: italic}
pre code span.cv /* CommentVar     */ {color:#000000; font-style: italic}
pre code span.do /* Documentation  */ {color:#000000; font-style: italic}
pre code span.dt /* DataType       */ {color:#000000}
pre code span.dv /* DecVal         */ {color:#000000}
pre code span.er /* Error          */ {color:#000000}
pre code span.ex /* Extension      */ {color:#000000}
pre code span.fl /* Float          */ {color:#000000}
pre code span.fu /* Function       */ {color:#000000}
pre code span.im /* Import         */ {color:#000000}
pre code span.in /* Information    */ {color:#000000; font-style: italic}
pre code span.kw /* Keyword        */ {color:#000000}
pre code span.op /* Operator       */ {color:#000000}
pre code span.ot /* Other          */ {color:#000000}
pre code span.pp /* Preprocessor   */ {color:#000000}
pre code span.re /* RegionMarker   */ {color:#000000}
pre code span.sc /* SpecialChar    */ {color:#000000}
pre code span.ss /* SpecialString  */ {color:#000000}
pre code span.st /* String         */ {color:#000000}
pre code span.va /* Variable       */ {color:#000000}
pre code span.vs /* VerbatimString */ {color:#000000}
pre code span.wa /* Warning        */ {color:#000000; font-style: italic}
