pre code         /* Normal         */ {color:#7c9c9e}
pre code span.al /* Alert          */ {color:#ff427b; background-color:#2f183b; font-weight: bold}
pre code span.an /* Annotation     */ {color:#fda8bc}
pre code span.at /* Attribute      */ {color:#5af5f0}
pre code span.bn /* BaseN          */ {color:#f834bb}
pre code span.bu /* BuiltIn        */ {color:#999ee1}
pre code span.cf /* ControlFlow    */ {color:#d5358f; font-weight: bold}
pre code span.ch /* Char           */ {color:#dff959}
pre code span.cn /* Constant       */ {color:#fa61b8; font-weight: bold}
pre code span.co /* Comment        */ {color:#45898c; font-style: italic}
pre code span.cv /* CommentVar     */ {color:#a8c0c2}
pre code span.do /* Documentation  */ {color:#75b7bb}
pre code span.dt /* DataType       */ {color:#ff85a1}
pre code span.dv /* DecVal         */ {color:#fa61b8}
pre code span.er /* Error          */ {color:#ff427b; font-weight: bold; font-style: italic; text-decoration: underline}
pre code span.ex /* Extension      */ {color:#a8ffdb; font-weight: bold}
pre code span.fl /* Float          */ {color:#f834bb}
pre code span.fu /* Function       */ {color:#a9fef7}
pre code span.im /* Import         */ {color:#a9fef7}
pre code span.in /* Information    */ {color:#ffd000}
pre code span.kw /* Keyword        */ {color:#d5358f; font-weight: bold}
pre code span.op /* Operator       */ {color:#d5358f}
pre code span.ot /* Others         */ {color:#5effbd}
pre code span.pp /* Preprocessor   */ {color:#d5358f}
pre code span.re /* RegionMarker   */ {color:#baf7fc; background-color:#242560}
pre code span.sc /* SpecialChar    */ {color:#c3f920}
pre code span.ss /* SpecialString  */ {color:#ff96aa}
pre code span.st /* String         */ {color:#a9fef7}
pre code span.va /* Variable       */ {color:#c7e3ee}
pre code span.vs /* VerbatimString */ {color:#a8ffdb}
pre code span.wa /* Warning        */ {color:#ff427b}
