pre {background-color: #002b36;}
pre code         /* Normal         */ {color:#839496}
pre code span.al /* Alert          */ {color:#d33682; font-weight: bold}
pre code span.an /* Annotation     */ {color:#268bd2}
pre code span.at /* Attribute      */ {color:#268bd2}
pre code span.bn /* BaseN          */ {color:#2aa198}
pre code span.bu /* BuiltIn        */ {color:#cb4b16}
pre code span.cf /* ControlFlow    */ {color:#859900}
pre code span.ch /* Char           */ {color:#2aa198}
pre code span.cn /* Constant       */ {color:#2aa198; font-weight: bold}
pre code span.co /* Comment        */ {color:#586e75; font-style: italic}
pre code span.cv /* CommentVar     */ {color:#2aa198}
pre code span.do /* Documentation  */ {color:#dc322f}
pre code span.dt /* DataType       */ {color:#b58900}
pre code span.dv /* DecVal         */ {color:#2aa198}
pre code span.er /* Error          */ {color:#dc322f; text-decoration: underline}
pre code span.ex /* Extension      */ {color:#268bd2}
pre code span.fl /* Float          */ {color:#2aa198}
pre code span.fu /* Function       */ {color:#268bd2}
pre code span.im /* Import         */ {color:#2aa198}
pre code span.in /* Information    */ {color:#b58900}
pre code span.kw /* Keyword        */ {color:#859900}
pre code span.op /* Operator       */ {color:#859900}
pre code span.ot /* Others         */ {color:#859900}
pre code span.pp /* Preprocessor   */ {color:#cb4b16}
pre code span.re /* RegionMarker   */ {color:#268bd2; background-color:#073642}
pre code span.sc /* SpecialChar    */ {color:#dc322f}
pre code span.ss /* SpecialString  */ {color:#dc322f}
pre code span.st /* String         */ {color:#2aa198}
pre code span.va /* Variable       */ {color:#268bd2}
pre code span.vs /* VerbatimString */ {color:#2aa198}
pre code span.wa /* Warning        */ {color:#cb4b16}
