pre {background-color: #f8f8f8;}
pre code span.al /* Alert          */ {color:#ef2929}
pre code span.an /* Annotation     */ {color:#8f5902; font-weight: bold; font-style: italic}
pre code span.at /* Attribute      */ {color:#c4a000}
pre code span.bn /* BaseN          */ {color:#0000cf}
pre code span.cf /* ControlFlow    */ {color:#204a87; font-weight: bold}
pre code span.ch /* Char           */ {color:#4e9a06}
pre code span.cn /* Constant       */ {color:#000000}
pre code span.co /* Comment        */ {color:#8f5902; font-style: italic}
pre code span.cv /* CommentVar     */ {color:#8f5902; font-weight: bold; font-style: italic}
pre code span.do /* Documentation  */ {color:#8f5902; font-weight: bold; font-style: italic}
pre code span.dt /* DataType       */ {color:#204a87}
pre code span.dv /* DecVal         */ {color:#0000cf}
pre code span.er /* Error          */ {color:#a40000; font-weight: bold}
pre code span.ex /* Extension      */ {}
pre code span.fl /* Float          */ {color:#0000cf}
pre code span.fu /* Function       */ {color:#000000}
pre code span.im /* Import         */ {}
pre code span.in /* Information    */ {color:#8f5902; font-weight: bold; font-style: italic}
pre code span.kw /* Keyword        */ {color:#204a87; font-weight: bold}
pre code span.op /* Operator       */ {color:#ce5c00; font-weight: bold}
pre code span.ot /* Other          */ {color:#8f5902}
pre code span.pp /* Preprocessor   */ {color:#8f5902; font-style: italic}
pre code span.sc /* SpecialChar    */ {color:#000000}
pre code span.ss /* SpecialString  */ {color:#4e9a06}
pre code span.st /* String         */ {color:#4e9a06}
pre code span.va /* Variable       */ {color:#000000}
pre code span.vs /* VerbatimString */ {color:#4e9a06}
pre code span.wa /* Warning        */ {color:#8f5902; font-weight: bold; font-style: italic}
