pre {background-color: #303030; color: #cccccc;}
pre code span.al /* Alert          */ {color:#ffcfaf}
pre code span.an /* Annotation     */ {color:#7f9f7f; font-weight: bold}
pre code span.at /* Attribute      */ {}
pre code span.bn /* BaseN          */ {color:#dca3a3}
pre code span.bu /* BuiltIn        */ {}
pre code span.cf /* ControlFlow    */ {color:#f0dfaf}
pre code span.ch /* Char           */ {color:#dca3a3}
pre code span.cn /* Constant       */ {color:#dca3a3; font-weight: bold}
pre code span.co /* Comment        */ {color:#7f9f7f}
pre code span.cv /* CommentVar     */ {color:#7f9f7f; font-weight: bold}
pre code span.do /* Documentation  */ {color:#7f9f7f}
pre code span.dt /* DataType       */ {color:#dfdfbf}
pre code span.dv /* DecVal         */ {color:#dcdccc}
pre code span.er /* Error          */ {color:#c3bf9f}
pre code span.ex /* Extension      */ {}
pre code span.fl /* Float          */ {color:#c0bed1}
pre code span.fu /* Function       */ {color:#efef8f}
pre code span.im /* Import         */ {}
pre code span.in /* Information    */ {color:#7f9f7f; font-weight: bold}
pre code span.kw /* Keyword        */ {color:#f0dfaf}
pre code span.op /* Operator       */ {color:#f0efd0}
pre code span.ot /* Other          */ {color:#efef8f}
pre code span.pp /* Preprocessor   */ {color:#ffcfaf; font-weight: bold}
pre code span.sc /* SpecialChar    */ {color:#dca3a3}
pre code span.ss /* SpecialString  */ {color:#cc9393}
pre code span.st /* String         */ {color:#cc9393}
pre code span.va /* Variable       */ {}
pre code span.vs /* VerbatimString */ {color:#cc9393}
pre code span.wa /* Warning        */ {color:#7f9f7f; font-weight: bold}
