/* Sticky footer */

/**
 * Basic idea: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 * Details: https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
 *
 * .Site -> body > .container
 * .Site-content -> body > .container .row
 * .footer -> footer
 *
 * Key idea seems to be to ensure that .container and __all its parents__
 * have height set to 100%
 *
 */

html, body {
  height: 100%;
}

body > .container {
  display: flex;
  height: 100%;
  flex-direction: column;

  padding-top: 60px;
}

body > .container .row {
  flex: 1 0 auto;
}

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
  color: #666;
  display: flex;
  flex-shrink: 0;
}
footer p {
  margin-bottom: 0;
}
footer div {
  flex: 1;
}
footer .pkgdown {
  text-align: right;
}
footer p {
  margin-bottom: 0;
}

img.icon {
  float: right;
}

img {
  max-width: 100%;
}

/* Typographic tweaking ---------------------------------*/

.contents h1.page-header {
  margin-top: calc(-60px + 1em);
}

/* Section anchors ---------------------------------*/

a.anchor {
  margin-left: -30px;
  display:inline-block;
  width: 30px;
  height: 30px;
  visibility: hidden;

  background-image: url(./link.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.hasAnchor:hover a.anchor {
  visibility: visible;
}

@media (max-width: 767px) {
  .hasAnchor:hover a.anchor {
    visibility: hidden;
  }
}


/* Fixes for fixed navbar --------------------------*/

.contents h1, .contents h2, .contents h3, .contents h4 {
  padding-top: 60px;
  margin-top: -40px;
}

/* Static header placement on mobile devices */
@media (max-width: 767px) {
  .navbar-fixed-top {
    position: absolute;
  }
  .navbar {
    padding: 0;
  }
}


/* Sidebar --------------------------*/

#sidebar {
  margin-top: 30px;
}
#sidebar h2 {
  font-size: 1.5em;
  margin-top: 1em;
}

#sidebar h2:first-child {
  margin-top: 0;
}

#sidebar .list-unstyled li {
  margin-bottom: 0.5em;
}

.orcid {
  height: 16px;
  vertical-align: middle;
}

/* Reference index & topics ----------------------------------------------- */

.ref-index th {font-weight: normal;}

.ref-index td {vertical-align: top;}
.ref-index .alias {width: 40%;}
.ref-index .title {width: 60%;}

.ref-index .alias {width: 40%;}
.ref-index .title {width: 60%;}

.ref-arguments th {text-align: right; padding-right: 10px;}
.ref-arguments th, .ref-arguments td {vertical-align: top;}
.ref-arguments .name {width: 20%;}
.ref-arguments .desc {width: 80%;}

/* Nice scrolling for wide elements --------------------------------------- */

table {
  display: block;
  overflow: auto;
}

/* Syntax highlighting ---------------------------------------------------- */

pre {
  word-wrap: normal;
  word-break: normal;
  border: 1px solid #eee;
}

pre, code {
  background-color: #f8f8f8;
  color: #333;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

pre .img {
  margin: 5px 0;
}

pre .img img {
  background-color: #fff;
  display: block;
  height: auto;
}

code a, pre a {
  color: #375f84;
}

a.sourceLine:hover {
  text-decoration: none;
}

.fl      {color: #1514b5;}
.fu      {color: #000000;} /* function */
.ch,.st  {color: #036a07;} /* string */
.kw      {color: #264D66;} /* keyword */
.co      {color: #888888;} /* comment */

.message { color: black;   font-weight: bolder;}
.error   { color: orange;  font-weight: bolder;}
.warning { color: #6A0366; font-weight: bolder;}

/* Clipboard --------------------------*/

.hasCopyButton {
  position: relative;
}

.btn-copy-ex {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}

.hasCopyButton:hover button.btn-copy-ex {
  visibility: visible;
}

/* Docsearch -------------------------------------------------------------- */

div.ds-dataset-1 {
  overflow: auto;
  max-height: 80vh;
}

.algolia-autocomplete {
  display: block!important;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.algolia-autocomplete .ds-dropdown-menu {
  width: 100%;
  min-width: 0!important;
  max-width: none!important;
  padding: .75rem 0!important;
  background-color: #fff;
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, .1);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175)
}

@media (min-width:768px) {
  .algolia-autocomplete .ds-dropdown-menu {
      width: 175%
  }
}

.algolia-autocomplete .ds-dropdown-menu::before {
  display: none!important
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  padding: 0!important;
  overflow: visible!important;
  background-color: rgb(255,255,255)!important;
  border: 0!important
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
  margin-top: 0!important
}

.algolia-autocomplete .algolia-docsearch-suggestion {
  padding: 0!important;
  overflow: visible!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  padding: .125rem 1rem!important;
  margin-top: 0!important;
  font-size: 1.1em!important;
  font-weight: 500!important;
  color: #00008B!important;
  border-bottom: 0!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
    float: none!important;
    padding-top: 0!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  float: none!important;
  width: auto!important;
  padding: 0!important;
  text-align: left!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  float: none!important;
  width: auto!important;
  padding: 0!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--content::before {
  display: none!important
}

.algolia-autocomplete .ds-suggestion:not(:first-child) .algolia-docsearch-suggestion--category-header {
  padding-top: .75rem!important;
  margin-top: .75rem!important;
  border-top: 1px solid rgba(0, 0, 0, .1)
}

.algolia-autocomplete .ds-suggestion .algolia-docsearch-suggestion--subcategory-column {
  display: none!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  display: block;
  padding: .25rem 1rem!important;
  margin-bottom: 0!important;
  font-size: 1em;
  font-weight: 400!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
  padding: 0 1rem .5rem!important;
  margin-top: -.25rem;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25!important
}

.algolia-autocomplete .algolia-docsearch-footer {
  float: none!important;
  width: auto!important;
  height: auto!important;
  padding: .75rem 1rem 0;
  font-size: .75rem!important;
  line-height: 1!important;
  color: #767676!important;
  background-color: rgb(255, 255, 255)!important;
  border-top: 1px solid rgba(0, 0, 0, .1)
}

.algolia-autocomplete .algolia-docsearch-footer--logo {
  display: inline!important;
  overflow: visible!important;
  color: inherit!important;
  text-indent: 0!important;
  background: 0 0!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #5f2dab;
  background-color: rgba(220, 220, 220, .12)
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 rgba(105, 105, 105, .5)!important
}

.algolia-autocomplete .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
  background-color: rgba(105, 105, 105, .15)!important
}
