<div class="row">
  <main id="main" class="col-md-9">
    <div class="page-header">
      {{#logo}}<img src="{{logo.src}}" class="logo" alt="" >{{/logo}}
      <h1>{{{pagetitle}}}</h1>
    </div>

    {{#sections}}
    <div class="section {{class}}">
      <h3>{{{title}}}</h3>
      <div class="section-desc">{{{desc}}}</div>

      <dl>
        {{#contents}}
        <dt><a href="{{href}}">{{title}}</a></dt>
        <dd>{{{description}}}</dt>
        {{/contents}}
      </dl>
    </div>
    {{/sections}}
  </main>

  <aside class="col-md-3">
    <nav id="toc" aria-label="{{#translate}}{{toc}}{{/translate}}">
      <h2>{{#translate}}{{on_this_page}}{{/translate}}</h2>
    </nav>
  </aside>
</div>
