<div class="row">
  <div class="contents col-md-9">
    <div class="page-header">
      {{#logo}}<img src="{{logo.src}}" class="logo" alt="" >{{/logo}}
      <h1>{{{pagetitle}}}</h1>

    </div>
     {{{before}}}
    <ul class="list-unstyled">
      {{#authors}}
      <li>
        <p><strong>{{{name}}}</strong>. {{{roles}}}. {{{orcid}}}
        {{#comment}}<br /><small>{{{.}}}</small>{{/comment}}</p>
      </li>
      {{/authors}}
    </ul>
   {{{after}}}

    <div class="page-header">
      <h2>{{#translate}}{{citation}}{{/translate}}</h2>
    </div>
    {{#source}}<small class="dont-index">{{{.}}}</small>{{/source}}
   {{#citations}}
    {{{html}}}
    <pre>{{{bibtex}}}</pre>
    {{/citations}}
  </div>

</div>

