<div class="row">
  <div class="col-md-9 contents">
    <div class="page-header">
      {{#logo}}<img src="{{logo.src}}" class="logo" alt="" >{{/logo}}
      <h1>{{{title}}}</h1>
      {{#source}}<small class="dont-index">{{{.}}}</small>{{/source}}
      <div class="d-none name"><code>{{filename}}</code></div>
    </div>

    <div class="ref-description section level2">
    {{#description}}
    {{#contents}}
    {{{.}}}
    {{/contents}}
    {{/description}}
    </div>

    {{#usage}}
    <div class="ref-usage section level2 sourceCode">
    <h2>Usage</h2>
    {{{.}}}
    </div>
    {{/usage}}

    <div id="ref-sections">
    {{#sections}}
    <div class="section level2" id="{{slug}}">
    <h2>{{{title}}}</h2>
    {{#contents}}
    {{{.}}}
    {{/contents}}
    </div>
    {{/sections}}
    </div>

    {{#examples}}
    <div id="examples">
    <h2>{{#translate}}{{examples}}{{/translate}}</h2>
    <div class="ref-examples sourceCode">{{{.}}}</div>
    </div>
    {{/examples}}
  </div>
  <div class="col-md-3" id="pkgdown-sidebar">
    <nav id="toc">
      <h2>{{#translate}}{{on_this_page}}{{/translate}}</h2>
    </nav>
  </div>
</div>
