<div class="row">
  <main id="main" class="col-md-9">
    <div class="page-header">
      {{#logo}}<img src="{{logo.src}}" class="logo" alt="" >{{/logo}}
      <h1>{{{pagetitle}}}</h1>
    </div>

    <ul>
      {{#tutorials}}
      <li><a href="{{path}}">{{title}}</a></li>
      {{/tutorials}}
    </ul>
  </main>

  <aside class="col-md-3">
    <nav id="toc" aria-label="{{#translate}}{{toc}}{{/translate}}">
      <h2>{{#translate}}{{on_this_page}}{{/translate}}</h2>
    </nav>
  </aside>
</div>
