<div class="row">
  <div class="contents col-md-9">
    {{#logo}}<img src="{{.}}" id="logo-pkg" alt="" width="120">{{/logo}}
    <div class='pb-2 mt-4 mb-2 border-bottom'>
      <h1 class="display-4">Authors</h1>
    </div>
    {{{before}}}
    <ul class="list-unstyled">
      {{#authors}}
      <li>
        <p><strong>{{{name}}}</strong>. {{{roles}}}. {{{orcid}}}
        {{#comment}}<br /><small>{{{.}}}</small>{{/comment}}</p>
      </li>
      {{/authors}}
    </ul>
   {{{after}}}
  </div>

</div>

