<div class="row">
  <div class="col-md-9 contents">
    {{#logo}}<img src="{{logo.src}}" class="pkg-logo" alt="" >{{/logo}}
    <div class="page-header pb-2 mt-4 mb-2 border-bottom toc-ignore">
    <h1 class="display-4">{{{title}}}</h1>
    {{#source}}<small class="dont-index">{{{.}}}</small>{{/source}}
    <div class="d-none name"><code>{{filename}}</code></div>
    </div>

    <div class="ref-description">
    {{#description}}
    {{#contents}}
    {{{.}}}
    {{/contents}}
    {{/description}}
    </div>

    {{#usage}}
    <pre class="usage"><code class="sourceCode R">{{{.}}}</code></pre>
    {{/usage}}

    {{#has_args}}
    <div class="heading-wrapper row hasAnchor">
      <a href="#arguments" class="anchor"><span class="d-none">Section called Arguments</span></a>
    <h2 id ="arguments">Arguments</h2>
    </div>
    <dl class="row" id="ref-arguments">
    {{#arguments}}
    <dt class="col-sm-3" id="ref-arguments name">{{{name}}}</dt>
      <dd class="col-sm-9" id="ref-arguments desc">{{{description}}}</dd>
    {{/arguments}}
    </dl>
    {{/has_args}}

    {{#sections}}
    <div class="heading-wrapper row hasAnchor">
      <a href="#arguments" class="anchor"><span class="d-none">Section called {{{title}}}</span></a>
    <h2 id="{{slug}}"><a class="anchor" href="#{{slug}}"></a>{{{title}}}</h2>
    </div>

    {{#contents}}
    {{{.}}}
    {{/contents}}
    {{/sections}}

    {{#examples}}
    <div class="heading-wrapper row hasAnchor">
      <a class="anchor" href="#examples"><span class="d-none">Section called Examples</span></a>
    <h2 id="examples">Examples</h2>
    </div>
    <pre class="examples"><code class="sourceCode R">{{{ . }}}</code></pre>
    {{/examples}}
  </div>
  <div class="col-md-3 hidden-xs hidden-sm" id="pkgdown-sidebar">
    <div class="sticky-top">
    <nav id="toc">

      <h2 data-toc-skip>Contents</h2>

    </nav>
</div>
  </div>
</div>
