<div class="row">
  <div class="col-md-9 contents">
    <div class="page-header">
    <h1<div class="page-header pb-2 mt-4 mb-2 border-bottom">>{{{title}}}</h1>
    {{#source}}<small class="dont-index">{{{.}}}</small>{{/source}}
    <div class="d-none name"><code>{{filename}}</code></div>
    </div>

    <div class="ref-description">
    {{#description}}
    {{#contents}}
    {{{.}}}
    {{/contents}}
    {{/description}}
    </div>

    {{#usage}}
    <pre class="usage">{{{.}}}</pre>
    {{/usage}}

    {{#has_args}}
    <h2>Arguments</h2>
    <dl class="row" id="ref-arguments">
    {{#arguments}}
    <dt class="col-sm-3" id="ref-arguments name">{{{name}}}</dt>
      <dd class="col-sm-9 text-truncate" id="ref-arguments desc">{{{description}}}</dd>
    {{/arguments}}
    </dl>
    {{/has_args}}

    {{#sections}}
    <h2 class="hasAnchor" id="{{slug}}"><a class="anchor" href="#{{slug}}"></a>{{{title}}}</h2>

    {{#contents}}
    {{{.}}}
    {{/contents}}
    {{/sections}}

    {{#examples}}
    <h2 class="hasAnchor" id="examples"><a class="anchor" href="#examples"></a>Examples</h2>
    <pre class="examples">{{{ . }}}</pre>
    {{/examples}}
  </div>
  <div class="col-md-3 hidden-xs hidden-sm" id="pkgdown-sidebar">
    <nav id="toc" data-toggle="toc" class="sticky-top">
      <h2 data-toc-skip>Contents</h2>
    </nav>
  </div>
</div>
