<div class="row">
  <div class="contents col-md-9">
    {{#logo}}<img src="{{logo.src}}" class="pkg-logo" alt="" >{{/logo}}
    <div class="page-header pb-2 mt-4 mb-2 border-bottom toc-ignore}">
      <h1 class="display-4">{{pagetitle}}</h1>
      {{#source}}<small class="dont-index">{{{.}}}</small>{{/source}}
    </div>

{{{body}}}

  </div>

  <div class="col-md-3 hidden-xs hidden-sm" id="pkgdown-sidebar">
   <div class="sticky-top">
    <nav id="toc">

      <h2 data-toc-skip>Contents</h2>

    </nav>
</div>
  </div>

</div>

