<div class="row">
  <div class="col-md-9 contents">
    <div class="page-header pb-2 mt-4 mb-2 border-bottom">
      <h1 class="display-4" data-toc-skip>Changelog <small>{{version}}</small></h1>
      {{#source}}<small>{{{.}}}</small>{{/source}}
    </div>

    {{#contents}}
    {{{html}}}
    {{/contents}}
  </div>

  <div class="col-md-3 hidden-xs hidden-sm" id="pkgdown-sidebar">
    <nav id="toc" data-toggle="toc" class="sticky-top">
      <h2 data-toc-skip>Contents</h2>
    </nav>
  </div>

</div>
