<div class="row">
  <div class="contents col-md-9">
    <div class="page-header">
      <h1>Reference</h1>
    </div>

    {{#sections}}
    <div class="card m-2">
      <div class="card-header">
        <h5>{{title}}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{{desc}}}</p>

        <table class="ref-index">
          <colgroup>
            {{#has_icons}}<col class="icon" />{{/has_icons}}
            <col class="alias" />
            <col class="title" />
          </colgroup>

          <tbody>
            <tr>
              <th colspan="{{#has_icons}}3{{/has_icons}}{{^has_icons}}2{{/has_icons}}"></th>
            </tr>
            {{#contents}}
            <tr>
              {{#has_icons}}<td>{{#icon}}<a href="{{path}}"><img src="icons/{{{.}}}" width="30" height="30" /></a>{{/icon}}</td>{{/has_icons}}
              <td>
                <p>{{#aliases}}<h6><code><a href="{{path}}">{{{.}}}</a></code></h6>{{/aliases}}</p>
              </td>
              <td><p>{{{title}}}</p></td>
            </tr>
            {{/contents}}
          </tbody>

        </table>
      </div>
    </div>
    {{/sections}}

  </div>

  <div class="col-md-3 d-none d-md-block" id="sidebar">
    <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
  </div>

</div>
