<div class="row">
  <div class="span8">
    {{{readme}}}
  </div>

  <div class="span3 offset1 sidebar">
    {{#vignettes}}
    <h2>Vignettes</h2>
    <ul>
    {{#vignette}}
      <li><a href="vignettes/{{filename}}">{{title}}</a></li>
    {{/vignette}}
    </ul>
    {{/vignettes}}

    {{#demos}}
    <h2>Demos</h2>
    <ul>
    {{#demo}}
      <li><a href="{{filename}}">{{title}}</a></li>
    {{/demo}}
    </ul>
    {{/demos}}

    {{#news_path}}
    <h2>NEWS</h2>
    See our <a href="../{{news_path}}.html">NEWS</a>!
    {{/news_path}}

    <h2>Authors</h2>
    <ul>
    {{#authors}}
      <li>{{{.}}}</li>
    {{/authors}}
    </ul>
  </div>
</div>
