<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{package}} {{version}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{author}}">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {padding-top: 60px;}
      h2 {padding-top: 20px}
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/highlight.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class = "container">
          <a class="brand" href="#">{{package}} {{version}}</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit">
        <h1>{{package}} {{version}}</h1>
        <p>{{description}}</p>
      </div>
      
      <div class="row">
        <div class="span8">

          <ul class="index">
          {{#topics}}
            <li class="{{class}}"><code><a href="{{file}}">{{alias}}</a></code>: {{{title}}}</li>
          {{/topics}}
          </ul>
        </div>
        <div class="span4">
          {{#dependencies}}
          <h2>Dependencies</h2>
          <ul>
            <li><strong>Depends</strong>: {{depends}}</li>
            <li><strong>Imports</strong>: {{imports}}</li>
            <li><strong>Suggests</strong>: {{suggests}}</li>
            <li><strong>Extends</strong>: {{extends}}</li>
          </ul>
            
          {{/dependencies}}
           
          <h2>Authors</h2>
          {{authors}}
          
        </div>
      </div>

      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Built by <a href="https://github.com/hadley/staticdocs">staticdocs</a>. Styled with <a href="http://twitter.github.com/bootstrap">bootstrap</a>.</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
