    <div class="container">
      <!-- <div class="hero-unit">
        <h1>{{package}} {{version}}</h1>
        <p>{{description}}</p>
      </div> -->
      
      <div class="row">
        <div class="span8">
          {{{readme}}}

          <h2>Help topics</h2>

          {{#sections}}
          <h3>{{title}}</h3>
          {{{description}}}
          
          <ul class="index">
          {{#items}}
          {{#icon}}
            <li class = "icon">
              <a href="{{file_out}}"><img src="{{icon}}" width = "40" height = "40" /></a><code><a href="{{file_out}}">{{name}}</a></code>{{aliases}}<br /> 
              {{{title}}}</li>
          {{/icon}}
          {{^icon}}
            <li>
              <code><a href="{{file_out}}">{{name}}</a></code>{{aliases}}<br />{{{title}}}</li>
          {{/icon}}
          {{/items}}
          </ul>
          {{/sections}}
          

        </div>
        <div class="span3 offset1">
          {{#hasVignettes}}
          <h2>Vignettes</h2>
          <ul>
          {{#vignettes}}
            <li><a href="vignettes/{{filename}}">{{title}}</a></li>
          {{/vignettes}}
          </ul>
          {{/hasVignettes}}

          {{#hasDemos}}
          <h2>Demos</h2>
          <ul>
          {{#demos}}
            <li><a href="{{filename}}">{{title}}</a></li>
          {{/demos}}
          </ul>
          {{/hasDemos}}

          {{#dependencies}}
          <h2>Dependencies</h2>
          <ul>
            <li><strong>Depends</strong>: {{depends}}</li>
            <li><strong>Imports</strong>: {{imports}}</li>
            <li><strong>Suggests</strong>: {{suggests}}</li>
            <li><strong>Extends</strong>: {{extends}}</li>
          </ul>
          {{/dependencies}}
           
          {{#authors}}
          <h2>Authors</h2>
          {{authors}}
          {{/authors}}
          
        </div>
      </div>


