{{#navbar}}
<nav class="navbar fixed-top navbar-{{{type}}} navbar-expand-lg bg-{{{bg}}}">
  <div class="container">
    <a class="navbar-brand mb-0 h1" href="{{#site}}{{root}}{{/site}}index.html">{{#site}}{{title}}{{/site}}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <button type="button" class="badge badge-{{#development}}{{version_label}}{{/development}} d-none d-lg-block" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{#development}}{{version_tooltip}}{{/development}}">{{#package}}{{version}}{{/package}}</button>

    <div id="navbar" class="collapse navbar-collapse">
      {{#left}}
      <ul class="navbar-nav mr-auto ml-3">
      {{{.}}}
      </ul>
      {{/left}}

      {{#yaml}}{{#docsearch}}
      <form class="form-inline my-2 my-lg-0" role="search">
        <input type="search" class="form-control mr-sm-2" name="search-input" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
      </form>
      {{/docsearch}}{{/yaml}}

      {{#right}}
      <ul class="navbar-nav ml-1">
      {{{.}}}
      </ul>
      {{/right}}
    </div>
  </div>
</nav>
{{/navbar}}
