{{#navbar}}
<div class="navbar navbar-{{{type}}} fixed-top navbar-expand-md" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        &#x2630;
      </button>
      <span class="navbar-brand">
        <a class="nav-link" href="{{#site}}{{root}}{{/site}}index.html">{{#site}}{{title}}{{/site}}</a>
        <span class="version badge badge-{{#development}}{{version_label}}{{/development}}" data-toggle="tooltip" data-placement="bottom" title="{{#development}}{{version_tooltip}}{{/development}}">{{#package}}{{version}}{{/package}}</span>
      </span>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      {{#left}}
      <ul class="nav navbar-nav">
        {{{.}}}
      </ul>
      {{/left}}
      {{#right}}
      <ul class="nav navbar-nav ml-auto">
        {{{.}}}
      </ul>
      {{/right}}
      {{#yaml}}{{#docsearch}}
      <form class="form-inline ml-auto" role="search">
        <div class="form-group">
          <input type="search" class="form-control" name="search-input" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
        </div>
      </form>
      {{/docsearch}}{{/yaml}}
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div><!--/.navbar -->
{{/navbar}}
