body {padding-top: 60px;}

.icon img {
  float: right;
  border: 1px solid #ccc;
}
.index .internal {display: none;}
ul.index li {margin-bottom: 0.5em; clear: both;}

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
footer p {
  margin-bottom: 0;
  color: #555;
}

/* Table of contents --------------------------*/

.toc h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.toc.affix {
  top: 80;
}

/* Syntax highlighting ---------------------------------------------------- */

.examples .output {
  border-left: 4px solid #ccc;
  margin-left: -10px;
  padding-left: 6px;
}

.fl,.number {color:rgb(21,20,181);}
.fu,.functioncall {color:#264D66 ;}
.ch,.st,.string {color:#375D81 ;}
.kw,.keyword {font-weight:bolder ;color:black;}
.argument {color:#264D66 ;}
.co,.comment {color: #333;}
.formalargs {color: #264D66;}
.eqformalargs {color:#264D66;}
.slot {font-style:italic;}
.symbol {color:black ;}
.prompt {color:black ;}

pre img {
  background-color: #fff;
  display: block;
}
