/* Syntax highlighting ---------------------------------------------------- */

pre {
  word-wrap: normal;
  word-break: normal;
  background-color: white;
  color: #333;
  padding: 9.5px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
}
}

pre.sourceCode {
  overflow: auto;
  white-space: pre;
}

pre .img {
  margin: 5px 0;
}

pre .img img {
  background-color: #fff;
  display: block;
  height: auto;
}

code a, pre a {
  color: #375f84;
}

a.sourceLine:hover {
  text-decoration: none;
}

code span.ot {color:#007BA5}
code span.at {color:#20794D}
code span.ss {color:#20794D}
code span.an {color:#5E5E5E}
code span.fu {color:#4758AB}
code span.st {color:#20794D}
code span.cf {color:#007BA5}
code span.op {color:#5E5E5E}
code span.er {color:#AD0000}
code span.bn {color:#AD0000}
code span.al {color:#AD0000}
code span.va {color:#111111}
code span.bu {}
code span.ex {}
code span.pp {color:#AD0000}
code span.in {color:#5E5E5E}
code span.vs {color:#20794D}
code span.wa {color:#5E5E5E; font-style: italic}
code span.do {color:#5E5E5E; font-style: italic}
code span.im {}
code span.ch {color:#20794D}
code span.dt {color:#AD0000}
code span.fl {color:#AD0000}
code span.co {color:#5E5E5E}
code span.cv {color:#5E5E5E; font-style: italic}
code span.cn {color:#8f5902}
code span.sc {color:#20794D}
code span.dv {color:#AD0000}
code span.kw {color:#007BA5}
